@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

html.dark body {
  @apply bg-gray-900 text-white;
}

button {
  @apply p-2 rounded bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200;
}
